/* Alpha channel 
set opacity for a color  
range 0-1 */
div{
    transition: 2s;
    transition-delay: 1s;
    transition-duration: 1s;
     transition: margin-top 2s ease-in 0.2;
    width: 200px;
    height: 200px;
    background-color: rgb(140, 4, 4);

}
#opacity{
    background-color: #ffa511;
opacity: 0.5;
}
/* transion from one stage to other stage  */
  /* property name|duration|timing function|delay */
div:hover{
    background-color: green;
   border-radius: 50%;   
}
div:hover{
    margin-top: 400px;
    background-color: pink;

}